@charset "utf-8";

// If need, change your variables before importing Bulma
//$title-color: #ff0000;
//@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800;900');

// Local fonts
/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/inter/inter-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/inter/inter-v8-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/inter/inter-v8-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('fonts/inter/inter-v8-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/inter/inter-v8-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/inter/inter-v8-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
  font-display: swap;
}
/* inter-500 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/inter/inter-v8-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/inter/inter-v8-latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/inter/inter-v8-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/inter/inter-v8-latin-500.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/inter/inter-v8-latin-500.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('fonts/inter/inter-v8-latin-500.svg#Inter')
      format('svg'); /* Legacy iOS */
  font-display: swap;
}
/* inter-600 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/inter/inter-v8-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/inter/inter-v8-latin-600.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/inter/inter-v8-latin-600.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/inter/inter-v8-latin-600.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/inter/inter-v8-latin-600.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('fonts/inter/inter-v8-latin-600.svg#Inter')
      format('svg'); /* Legacy iOS */
  font-display: swap;
}
/* inter-800 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/inter/inter-v8-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/inter/inter-v8-latin-800.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/inter/inter-v8-latin-800.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/inter/inter-v8-latin-800.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/inter/inter-v8-latin-800.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('fonts/inter/inter-v8-latin-800.svg#Inter')
      format('svg'); /* Legacy iOS */
  font-display: swap;
}
/* inter-900 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/inter/inter-v8-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/inter/inter-v8-latin-900.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/inter/inter-v8-latin-900.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/inter/inter-v8-latin-900.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/inter/inter-v8-latin-900.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('fonts/inter/inter-v8-latin-900.svg#Inter')
      format('svg'); /* Legacy iOS */
  font-display: swap;
}

// End local fonts

$family-sans-serif: 'Inter', -apple-system, BlinkMacSystemFont, Roboto, Segoe UI,
  Helvetica, Arial, sans-serif;
$text: hsl(0, 0%, 14%);
$size-1: 2.8rem;
$link: #eb1d1d;
$weight-semibold: 700;
$weight-bold: 800;
.audioplayer {
  margin-top: 0.4rem;
  margin-bottom: 0.75rem;
  width: 100%;
}
.ficons a {
  padding-left: 1rem;
  padding-right: 1rem;
}
footer a {
  color: hsl(0, 0%, 14%);
}
footer a:hover {
  color: #eb1d1d;
}

.episode-card {
  border-color: #dbdbdb;
  border-width: 2px;
  border-style: solid;
}

.subtle-link,
.subtle-link:hover {
  color: currentColor;
}

.button.is-black:hover {
  background-color: #eb1d1d !important;
}
.rounded-corners,
.button.is-black {
  border-radius: 10px;
}
.highlight {
  color: #eb1d1d;
}
.medium-post-image .gatsby-image-wrapper {
  width: 40vw;
}
.small-post-image .gatsby-image-wrapper {
  width: 20vw;
}

@import '~bulma/bulma.sass';
